@mixin get-text($font-size) {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: $font-size;
}

$height_navigation: 50px;
$yellow: #fac600;
$orange: #ff8d00;
$green: #057023;
